<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (your other HTML head content) ... -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    {% include 'student/sidebar.html' %}
    <div class="container">
        {% include 'student/header.html' %}
        <div class="test content">
            {% for subject in subjects %}
                <div class="test_detail">
                    <div>
                        <h1 class="test-description"> {{ test_data[subject].description }} </h1>
                        <p>Subject: {{ subject }}</p>
                        <p>Date: {{ test_data[subject].date }}</p>
                        <p>Time: {{ test_data[subject].time }}</p>
                        <p>Duration: {{ test_data[subject].duration }}</p>
                    </div>

                    <div>
                        <a href="{{ url_for('student_routes.start_exam', class_name=student_class, subject=subject) }}">
                            <button>Take Test</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <script>
        // Check if the message is not empty, and if so, show the warning message.
        var message = "{{ message }}";
        if (message.trim() !== "") {
            var warningMessage = document.getElementById("warningMessage");
            warningMessage.style.display = "block";
        }
    </script>
</body>
</html>
