<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <title>Dashboard</title>
</head>
<body>
{% include 'student/sidebar.html' %}
    <div class="container">
        {% include 'student/header.html' %}
        <div class="content">
            <p class="welcome">Welcome back <span class="name">{{ student_name }}</span> of class ({{ student_class }})</p>
            <p><a href="/student/logout">Logout</a></p>
        </div>
    </div>
</body>
</html>
