<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Exam</title>
</head>
<body>
{% include 'header.html' %}
    <div class="container">
        <h1>Exam</h1>
        <form method="POST" action="{{ url_for('submit_exam') }}">
            <input type="hidden" name="exam_submission" value="1">
            {% for question_id, question_data in questions.items() %}
                <fieldset>
                    <legend>Question {{ question_id }}</legend>
                    <p>{{ question_data['question'] }}</p>
                    {% for option in question_data['options'] %}
                        <label>
                            <input type="radio" name="answer_{{ question_id }}" value="{{ option }}"> {{ option }}
                        </label><br>
                    {% endfor %}
                </fieldset>
            {% endfor %}
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
