<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Score</title>
</head>
<body>
{% include 'header.html' %}
    <div class="container">
        <h1>Your Score</h1>
        <p>Your score is: {{ score }}</p>
        <a href="/student/dashboard">Back to Dashboard</a>
        <a href="/student/start_exam">Retake exam</a>
    </div>
</body>
</html>
