<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
{% include 'header.html' %}
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <h2>Subject: {{ teacher_subject }}</h2>
        <h3>Class: {{ teacher_class }}</h3>
        <p><a href="/teacher/manage_student">My Students</a></p>
        <p><a href="/teacher/manage_grades">Manage CBT</a></p>
        <p><a href="/teacher/logout">Logout</a></p>
    </div>
</body>
</html>
