<!-- templates/manage_grades.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Manage Grades</title>
</head>
<body>
    {% include 'header.html' %}
   <div class="container">
        <h1>Manage Grades</h1>
            <a href="{{ url_for('submit_question') }}">Create Question</a>
    <table>
        <thead>
            <tr>
                <th>Class</th>
                <th>Subjects</th>
            </tr>
        </thead>
        <tbody>
            {% set classes_seen = [] %}
            {% for username, student in students.items() %}
                {% if student.scores and student.class not in classes_seen %}
                    <tr>
                        <td>{{ student.class }}</td>
                        <td>
                            <ul>  <!-- Use an unordered list to display subjects vertically -->
                                {% set subjects_taken_by_class = {} %}
                                {% for subject, score in student.scores.items() %}
                                    {% set _ = subjects_taken_by_class.setdefault(student.class, []).append({'subject': subject, 'score': score}) %}
                                {% endfor %}
                                {% for subject_info in subjects_taken_by_class[student.class] %}
                                    <li>
                                        <a href="{{ url_for('subject_scores', subject=subject_info.subject, class=student.class) }}">
                                            {{ subject_info.subject }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% set _ = classes_seen.append(student.class) %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
   </div>
</body>
</html>
