<!-- templates/teacher/subject_scores.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Subject Scores</title>
</head>
<body>
    {% include 'header.html' %}
   <div class="container">
        <h1>Subject Scores for {{ subject }}</h1>
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Class</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.class }}</td>
                    <td>{{ student.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   </div>
</body>
</html>
