<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <title>Dashboard</title>
</head>
<body>
{% include 'admin/sidebar.html' %}
    <div class="container">
        {% include 'admin/header.html' %}
       <div class="content">
            <h1 class="welcome">Welcome, <span class="name">{{ username }}!</span></h1>
            <p><a href="/admin/manage_student">Manage Students</a></p>
       </div>
    </div>
</body>
</html>
