*{
    padding: 0;
    margin: 0;
}
.container {
    margin-left: 250px; /* Adjust the margin to leave space for the sidebar */
   
    font-family: 'Inter', sans-serif;
}
.content{
    padding: 20px;
}
.welcome{
    font-weight: bold;
}
.name{
    color: #808000;
}