*{
    padding: 0;
    margin: 0;
}
.container {
    margin-left: 250px; /* Adjust the margin to leave space for the sidebar */
   
    font-family: 'Inter', sans-serif;
}
.content{
    padding: 20px;
}
.welcome{
    font-weight: bold;
}
.name{
    color: #808000;
}
.test{
   
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.test_detail{
    background: #ECECEC;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.288);
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.test_detail p{
    font-size: 14px;
    line-height: 24px;
}
.test_detail button, .warning-message button{
    cursor: pointer;
    width: 120px;
    padding: 10px;
    /* margin-right: 200px; */
    background: #F8C82A;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth hover transition */
}
.test_detail button, .warning-message button:hover{
    background: #daaf24;
    color: white;
    cursor: pointer;
}
.test-container{
    padding: 10px;
}
.test-description{
    font-weight: bold;
    font-size: 20px;
}
.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px;
    display: none;
}
.warning-message{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}