*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    margin-left: 250px;
    font-family: 'Inter', sans-serif;
}
.content{
    width: 600px;
    background: #ECECEC;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.493);
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
   
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 24px;
    color: #333;
}
.questions_container {
    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.question {
    display: none;
}
.options {
    list-style-type: none;
    padding: 0;
}
label {
    display: block;
    font-size: 16px;
    color: #555;
}
input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}
input[type="button"], button {
    background-color: #800020;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #5e0017;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
a{
    text-decoration: none;
    color: white;
}