/* CSS for the sidebar */
img{
    width: 16px;
}

.sidebar {
    font-family: 'Inter', sans-serif;
    width: 250px;
    background-color: #800020;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.sidebar-nav {
    list-style: none;
    width: 100%;
    padding-left: 30px;
    margin-left: 0;
    padding-top: 20px;
}

.sidebar-nav li {
    color: black;
    padding: 10px;
}

.sidebar-nav li div{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.sidebar-nav a, .sidebar-nav .menu {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    transition: background-color 0.5s;
    border-radius: 10px 0px 0px 10px;
}

.sidebar-nav a:hover {
    background-color: #F8C82A;
    margin-right: -10px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    color: black;
}

.dropdown .cbt{
    display: flex;
    align-items: center;
    gap: 50px;
}

.dropdown .dropdown-content{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    padding-left: 50px;
}
.dropdown-content a{
    border-radius: 10px;
    width: 100%;
    
}
.dropdown-content a:hover{
    border-radius: 10px;
    background: white;
}
.show{
    display: flex;
}