<!-- templates/header.html -->

<header>
    <p>MCQ software</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="dropdown">
                <a href="#">Login</a>
                <ul class="dropdown-content">
                    <li><a href="/student/login">Student Login</a></li>
                    <li><a href="/teacher/login">Teachers Login</a></li>
                    <li><a href="/parent/login">Parent Login</a></li>
                    <li><a href="/Admin/login">Admin Login</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
