<!-- templates/header.html -->
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<header>
    <p class="site-title">MCQ software</p>
<!--        <ul>-->
<!--            {% if user_authenticated %}-->
<!--            <li><a href="/student/dashboard">Dashboard</a></li>-->
<!--            {% endif %}-->
<!--        </ul>-->
</header>

<!-- Add this script at the end of your HTML body -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const loginDropdown = document.getElementById("login-dropdown");
        const loginLink = document.querySelector(".dropdown a");

        loginLink.addEventListener("click", function (e) {
            e.preventDefault(); // Prevent the default link behavior
            loginDropdown.classList.toggle("show"); // Toggle the visibility of the dropdown
        });

        // Close the dropdown when the user clicks outside of it
        window.addEventListener("click", function (e) {
            if (!e.target.matches('.dropdown a')) {
                loginDropdown.classList.remove("show");
            }
        });
    });
</script>